.text-input-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 20px 0;
  width: 100%;
}

input {
  flex: 1;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0 10px;
}

button {
  width: 90px;
  background-color: rgb(25, 135, 84);
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}